body {
    width: 100%;
    margin: 0;
    font-family: "Ubuntu", Arial, Helvetica, sans-serif;
    background-color: #ffffff;
}
header {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    /* background-color: lightgray; */
    background-color: #f8f8f8;
    text-align: center;
}
nav {
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
}
li {
    display: inline-block;
    /* width: 64px; */
    text-align: center;
    vertical-align: center;
    padding: 0 12px;
}
li + li {
    margin-left: 24px;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: rgb(159, 159, 159);
    border-radius: 2px;
}

ul + ul {
    position: fixed;
    right: 0;
    margin-right: 24px;
}

ul+ ul > li {
    width: 20px;
}


.logo {
    margin-left: 16px;
    /* color: orangered; */
    font-weight: bold;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.home-container {
    /* padding: 128px 0 128px 24px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    margin-bottom: 32px;
}
.home-container > .message {
    width: calc(100% - 600px);
    text-align: center;
    padding-top: 100px;
}
.home-container > .backgroundimage {
    height: 350px;
    width: 600px;
    background-image: url("/assets/img/topimage.jpeg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

/* HOME PAGE */
.wrapper-item {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 48px 0;
}

.wrapper-item:nth-child(odd) {
    background-color: rgb(212, 212, 212);
    flex-direction: row-reverse;
}

.wrap-btn {
    height: 32px;
    border: 1px solid black;
    border-radius: 100px;
    padding: 6px 16px;
    cursor: pointer;
}

.wrapper-content {
    line-height: 28px;
}

.wrapper-content h3 {
    font-size: 32px;
    font-family: "Abril Fatface";
}

.wrapper-image {
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 2px gray;
}




.learn-more:hover {
    color: blue;
}

.product-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

.product-item {
    margin: 10px;
}

.product-like {
    display: inline-block;
    margin-bottom: 4px;
}

.product-like:active {
    color: pink;
}

.product-image {
    height: 220px;
    width: 160px;
}

.product-name, .product-price, .add-btn, .remove-btn {
    text-align: center;
}

.add-btn, .remove-btn {
    border-radius: 4px;
    background-color: #f0f0f0;
    padding: 8px 0;
}

.add-btn:hover, .remove-btn:hover {
    background-color: #e2e2e2;
    cursor: pointer;
}

.add-btn:active, .remove-btn:active {
    position: relative;
    top: 2px;
}

footer {
    padding: 8px;
    /* background-color: lightgray; */
    background-color: #f8f8f8;
    text-align: center;
}

h6 {
    margin: 12px;
    font-size: 16px;
}

hr {
    color: #f8f8f8;
}

.contact {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-item {
    margin: 0 32px;
}

.contact-item p {
    font-size: 12px;
}

/* media queries */
@media screen and (max-width: 1200px) {
    .home-container {
        display: flex;
        flex-direction: column;
    }
    .home-container > .message {
        width: 100%;
        text-align: center;
        padding-top: 60px;
    }
    .home-container > .backgroundimage {
        height: 500px;
        width: 100%;
        background-image: url("/assets/img/topimage.jpeg");
        background-size: cover;
        background-position: right 10% bottom 60%;
        background-repeat: no-repeat;
    }
}
@media screen and (max-width: 800px) {
    .wrapper-item {
        flex-direction: column;
        align-items: center;
    }
    .wrapper-item:nth-child(odd) {
        flex-direction: column;
    }
    .wrapper-content {
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    .heart-btn {
        text-indent:-9999px;
    }
}
@media screen and (max-width: 600px) {
    .flex {
        display: flex;
        flex-direction: column;
    }
    .logo {
        font-size: 20px;
        margin-left: 0;
    }
    nav {
        justify-content: center;
    }
    ul {
        padding: 0;
    }
    .cart-btn {
        margin-top: 24px;
        margin-right: 32px;
        position: fixed;
        top: 0;
        right: 0;
    }
    .home-container > .backgroundimage {
        height: 400px;
        background-position: left 20% top 30%;
    }
    footer > h6 {
        font-size: 14px;
    }
    footer > p {
        font-size: 12px;
    }
}
@media screen and (max-width: 350px) {
    .product-container {
        height: 220px;
        width: 150px;
    }
}